body{
background-color:#000;
color:#0f0;
font-family:monospace;
margin:5px;
line-height:110%;
}
path{
stroke-width:2px;
stroke:#0f0;
fill:none;
}
table{
font-size:inherit;
border-collapse:collapse;
}
td{
padding:0px;
}
a{
text-decoration:inherit;
color:inherit;
background-color:#00f;
}
a.blocked{
background-color:#707;
}
#scram{
background-color:#700;
animation-name:a;
animation-duration:2s;
animation-iteration-count:infinite;
}
@keyframes scramon{
	0%{background-color:#700;}
	49%{background-color:#700;}
	50%{background-color:#f00;}
	99%{background-color:#f00;}
}
.status_ok{
color:#fff;
}
.status_halt{
color:#f0f;
}
.status_danger{
color:#f00;
}
.status_done{
color:#0ff;
}
.status_nofuel{
color:#ff0;
}