body{
	background-color: #272727;
	font-family:monospace;
	background-image: url(uiBg.png);
	background-repeat: repeat-x;
	background-position: center top;
	color:white
}

table{
	border-collapse:collapse;
}

a{
text-decoration:inherit;
color:inherit;
}

a:hover{
text-decoration:inherit;
color:inherit;
}

.button{
	border:2px solid black;
	color:black;
	background-color:cadetblue;
	padding:2px;
}

.button:hover{
	border:2px solid white;
	background-color:darkslategray;
	color:white;
}


.button_locked{
	border:2px solid black;
	color:black;
	background-color:lightblue;
	padding:2px;
}


.bar_back{
	width:100%;
	display:block;
	border: 2px solid black;
}

.bar_overlay{
	display:block;
	height:inherit;
	border-right:2px solid black;
}

#reactor_fuelbar_back{
	height:4em;
	background-color:lightslategray
}

#reactor_fuelbar_overlay{
	height:3.7em; /*why do i have to make these .3 em smaller?*/
	background-color:mediumturquoise

}

#reactor_tempbar_back{
	height:4em;
	background-color:dimgray	
}
#reactor_tempbar_overlay{
	height:3.7em;
	background-color:darkgreen
}

#reactor_tempbar_overlay_caution{
	height:3.7em;
	background-color:goldenrod;
}

#reactor_coolantbar_back{
	height:2em;
	background-color:dimgray	
}

#reactor_coolantbar_overlay{
	height:1.7em;
	background-color:darkgreen
}

#reactor_coolantbar_overlay_caution{
	height:1.7em;
	background-color:goldenrod;
}

.reactor_controlrod_movebutton{
	background-color:grey;
	width:100%;
	height:1.5em;
	display:block;
	font-size:1.25em;
	font-weight:bold;
}
.reactor_controlrod_movebutton:hover{
	background-color:#333;
}

@keyframes scram_active{
	0% {background-color:red;}
	33% {background-color:red;}
	50% {background-color:darkred;}
	66% {background-color:darkred;}
	100% {background-color:red;}
}

#reactor_scrambutton{
	background-color:darkred;
	font-size:150%;
	font-weight:bold;
	display:block;
	width:100%;
	height:2em;
	text-align:center;
}

#reactor_scrambutton:hover{
	background-color:red;
}

#reactor_scrambutton_on{
		animation:scram_active 1s infinite;
			background-color:darkred;
	font-size:150%;
	font-weight:bold;
	display:block;
	width:100%;
	height:2em;
	text-align:center;
}

