<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--
HEY, YOU.

ADDING A CHANGELOG ENTRY? MAKE changelog/USERNAME.yml.  READ example.yml SO YOU DON'T SCREW UP.

ADDING CREDITS?  EDIT templates/header.html (or footer.html if they're for old teams)
--->
<html>
	<head>
		<title>/vg/station Changelog</title>
		<link rel="stylesheet" type="text/css" href="changelog.css">
		<script type='text/javascript'>
            function changeText(tagID, newText, linkTagID) {
                var tag = document.getElementById(tagID);
                tag.innerHTML = newText;
                var linkTag = document.getElementById(linkTagID);
                linkTag.removeAttribute("href");
                linkTag.removeAttribute("onclick");
            }

		</script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<!--
		Header Section
		-->
		<div class="header">
			<h1>Atlas Station - A Space Station 13 Server</h1>
			<p>
				<b>Forum | <a href="http://atlas-station.com">Wiki</a> | <a href="https://github.com/AtlasStation/AtlasStation">Source</a></b>
			</p>
			<p>
				<em>Code licensed under <a href="http://www.gnu.org/licenses/gpl.html">GPLv3</a>. Content licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.</em>
			</p>

			<h2> Credits</h2>
			<dl class="creditblock">
				<dt class="creditsection">
					Host:
				</dt>
				<dd>
					JamieH
				</dd>
				<dt class="creditsection">
					Head Admins:
				</dt>
				<dd>
					Zyzarda, WhiteFox08
				</dd>
				<dt class="creditsection">
					Game Masters:
				</dt>
				<dd>
					-
				</dd>
				<dt class="creditsection">
					Admins:
				</dt>
				<dd>
					-
				</dd>
				<dt class="creditsection">
					Coders:
				</dt>
				<dd>
					Nexendia, Atlantique
				</dd>
				<dt class="creditsection">
					Thanks To:
				</dt>
				<dd>
					/vg/station 13, Baystation, Festival TTS, /tg/ station, Goonstation, Animus Station, Daedalus, anyone we forgot above, and the original Spacestation 13 devs. Skibiliano for the IRC bot.
				</dd>
			</dl>
		</div>
		<!--

		AGAIN, TO ADD SHIT, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE.

		*** DO NOT FUCK WITH THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***

		-->
		<div class="commit sansserif">
