.deptradio				{color: #99ccff;}
.comradio				{color: #333366;}
.syndradio				{color: #cc9999;}
.dsquadradio			{color: #686868;}
.resteamradio			{color: #18BC46;}
.aiprivradio			{color: #ff99ff;}
.centradio				{color: #5C5C8A;}
.secradio				{color: #cc0000;}
.engradio				{color: #cc9966;}
.medradio				{color: #009999;}
.sciradio				{color: #9933cc;}
.supradio				{color: #00ccff;}