/*Made by N3X15*/
/*updated by crazyamphibian*/

body{
line-height:100%
}


a.color, a:link.color  {
	padding: 5px 10px;
	font-size: large;
	font-weight: bold;
	border:1px solid white;
	position:relative;
	top:5px;
}

a{ color:inherit;background:inherit;border:none;text-decoration:inherit;padding:0px;margin:0px;}
a:link{ color:inherit;background:inherit;border:none;text-decoration:inherit;padding:0px;margin:0px;} /*dumb override conflicts with nanotrasen.css*/

a img {
	border:2px solid #161616;
	background:#40628a;
}



.schem{
	border-spacing:0px;
	background-color:#40628a;
	padding-right:3px;
	padding-left:2px;

	border:#161616 2px solid;
	margin-bottom:.3em;
}

.schem_selected{
	border-spacing:0px;
	background-color:#2f943c;
	padding-right:3px;
	padding-left:2px;

	border:#24722e 2px solid;
	margin-bottom:.3em;
}

#dir_holder > a{
margin:1px;
font-size:0px;
line-height:0%;
}

a.selected img {
	background: #2f943c;
	border-color:#24722e;
}

.schem > * > * > .shcem_sub, /*i know this looks really dumb, but it's how to access them from in a table. table looks better than a span or div.*/
.schem_selected > * > * > .shcem_sub{
	border:0px;
	border-right:2px;
	border-style:solid;
}

.schem > * > * > .shcem_sub{
	border-color:#161616;
}
.schem_selected > * > * > .shcem_sub{
	border-color:#24722e;
}

.schem:hover{
	background:#507aac;
}

.shcem_sub{
	font-family:monospace;
	padding-bottom:2px;
	font-size:14px;
	width:1em; /*some of the symbols are bigger than others... in a monospace font...*/
}

.shcem_sub >a:hover{ /*cleaning up all the stuff nanotrasen.css does.*/
background-color:inherit;
}
.shcem_sub >a:active{
border:none;
padding:0px;
}

.layer{
	border-spacing:2px;
	border:0px;
	white-space:nowrap;
	display:inline-block;
	padding:0px;
	font-size:0px; /*the IE CSS forces the line height to be at least the font size. why?*/
	line-height:100%;
	position:relative; /*since #layersholder uses absolute, we have to nudge the children using relative. not idea, but it werks.*/
	top:-5px;
}

.layer a:link{
	border-radius:inherit;
}


.layer_h{
	height:5px;
	width:32px;
	display:inline-block;
}
.layer_v{
	display:inline-block;
	height:32px;
	width:5px;
}

#layersholder{
position:absolute;
left:160px;
}


.layergradh{
	background-image: linear-gradient(rgba(0,0,0,.5) ,rgba(0,0,0,.2),rgba(0,0,0,0),rgba(0,0,0,.2) ,rgba(0,0,0,.5) );
}
.layergradv{
	background-image: linear-gradient(to right,rgba(0,0,0,.5) ,rgba(0,0,0,.2),rgba(0,0,0,0),rgba(0,0,0,.2) ,rgba(0,0,0,.5) );
}



#layer_selected{
	border-radius:2px;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#f00;
}
#layer{
	border-radius:2px;
	padding:0px;
	border:0px;
	background-color:#888;
}
#layer_center{
	border-radius:2px;
	padding:0px;
	border:0px;
	background-color:#666;
}
#layer_center_selected{
	border-radius:2px;
	padding:0px;
	border:0px;
	background-color:#D00;
}
#layer_selectedauto{
	border-radius:2px;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#15C;
}
#layer_center_selectedauto{
	border-radius:2px;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#14B;
}



#layer:hover{
	background-color:#e7e7e7;
}
#layer_center:hover{
	background-color:#e7e7e7;
}
#layer_selected:hover{
	background-color:#f33;
}
#layer_center_selected:hover{
	background-color:#f33;
}
#layer_selectedauto:hover{
	background-color:#38F;
}
#layer_center_selectedauto:hover{
	background-color:#37E;
}


#selectedname{
	color:#fff;
	font-weight:bold;
}

#list_icon{
	background-color:rgba(0,0,0,0);
	color:rgba(0,0,0,0);
	border:none;
	height:1em;
	image-rendering:pixelated;
}
