/*Made by N3X15*/
/*updated by crazyamphibian*/

html {
	font-family: verdana,Geneva,sans-serif;
	font-size:small;
}
body{
	color:#e9c183;
	background-color:#272727;
}

a.color {
	padding: 5px 10px;
	font-size: large;
	font-weight: bold;
	border:1px solid white;
}

a{
	color:inherit;
	text-decoration:inherit;
}

a img {
	border:2px solid #161616;
	background:#40628a;
}

a.selected img {
	background: #2f943c;
	border-color:24722e;
}

.schem{
	border-spacing:0px;
	background-color:#40628a;
	color:#fff;
	border:#161616 2px solid;
	margin-bottom:.3em;
}

.schem > * > * > .shcem_sub, /*i know this looks really dumb, but it's how to access them from in a table. table looks better than a span or div.*/
.schem_selected > * > * > .shcem_sub{
	border:0px;
	border-right:2px;
	padding-right:2px;
	padding-left:2px;
	border-style:solid;
}

.schem > * > * > .shcem_sub{
	border-color:#161616;
}
.schem_selected > * > * > .shcem_sub{
	border-color:#24722e;
}

.schem:hover{
	background-color:#fff;
	color:#40628a;
}
.schem_selected{
	border-spacing:0px;
	background-color:#2f943c;
	border:#24722e 2px solid;
	color:#fff;
	margin-bottom:.3em;
}
.shcem_sub{
	font-family:monospace;
	font-weight:bold;
}

.layer{
	border-spacing:2px;
	border:0px;
	white-space:nowrap;
	display:inline-block;
	padding:0px;
	font-size:0px; /*the IE CSS forces the line height to be at least the font size. why?*/
}

.layer_h{
	height:5px;
	width:32px;
	display:inline-block;
}
.layer_v{
	display:inline-block;
	height:32px;
	width:5px;
}

#layersholder{
position:absolute;
left:160px;
}

.layergradh{
	background-image: linear-gradient(rgba(0,0,0,.5) ,rgba(0,0,0,.2),rgba(0,0,0,0),rgba(0,0,0,.2) ,rgba(0,0,0,.5) );
}
.layergradv{
	background-image: linear-gradient(to right,rgba(0,0,0,.5) ,rgba(0,0,0,.2),rgba(0,0,0,0),rgba(0,0,0,.2) ,rgba(0,0,0,.5) );
}



#layer_selected{
	border-radius:2px;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#f00;
}
#layer{
	border-radius:2px;
	padding:0px;
	border:0px;
	background-color:#888;
}
#layer_center{
	border-radius:2px;
	padding:0px;
	border:0px;
	background-color:#666;
}
#layer_center_selected{
	border-radius:2px;
	padding:0px;
	border:0px;
	background-color:#D00;
}

#layer:hover{
	background-color:#e7e7e7;
}
#layer_center:hover{
	background-color:#e7e7e7;
}
#layer_selected:hover{
	background-color:#f33;
}
#layer_center_selected:hover{
	background-color:#f33;
}

#selectedname{
	color:#fff;
	font-weight:bold;
}


