<!-- 
Title: Integrated Hardsuit Controller
Used In File(s): /code/modules/clothing/spacesuits/rig/rig.dm
 -->

<style type="text/css">
	.inlineBlock {
		padding: 2px; 
		display: inline-block;
	}
	.extraTopPadding {
		padding-top: 10px;
	}
	.floatLeft {
		float: left;
		margin-left: 5px;
	}
	.paddedBorderBlue {
		border: 1px solid #517087; 
		padding: 2px;
	}
	.redText {
		color: red;
	}
	.orangeText {
		color: orange;
	}
	.greenText {
		color: green;
	}
	.boldText {
		font-weight: bold;
	}
	.textSpanCenter {
		width: 100%;
		text-align: center;
	}
	<!-- display bar override -->
	.displayBar {
		width: 200px;
	}
	.statusDisplay {
	background: #000000;
	color: #ffffff;
	border: 1px solid #40628a;
	padding: 4px;
	margin: 3px 0;
	}
</style>

<div style="width: 100%;">
	<div style="float:left; width:50%">
		<div>
			<div class='inlineBlock extraTopPadding'>
				<div class='fixedLeft boldText'>
				Power supply
			</div>
			<div>
				{{:helper.displayBar(data.chargestatus, 0, 50, (data.chargestatus >= 35) ? 'good' : (data.chargestatus >= 15) ? 'average' : 'bad', '<center>' + data.charge + '/' + data.maxcharge + '</center>')}}
			</div>
		</div>
	</div>
</div>

<div class="line"></div>

	<h2>Suit pieces</h2>
	<div class='inlineBlock'>
		<div class='fixedLeft boldText'>
			Helmet:
		</div>
		<div class='fixedLeftWider'>
			{{:helper.capitalizeFirstLetter(data.helmet)}}
		</div>
		<div class='fixedLeft'>
			{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_piece' : 'h_head'}, null)}}
		</div>
	</div>
	<div class='inlineBlock'>
		<div class='fixedLeft boldText'>
			Gauntlets:
		</div>
		<div class='fixedLeftWider'>
			{{:helper.capitalizeFirstLetter(data.gauntlets)}}
		</div>
		<div class='fixedLeft'>
			{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_piece' : 'h_gloves'}, null)}}
		</div>
	</div>
	<div class='inlineBlock'>
		<div class='fixedLeft boldText'>
			Boots:
		</div>
		<div class='fixedLeftWider'>
			{{:helper.capitalizeFirstLetter(data.boots)}}
		</div>
		<div class='fixedLeft'>
			{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_piece' : 'h_boots'}, null)}}
		</div>
	</div>

<h2>System modules</h2>
{{if data.modules}}
	<div>
		{{for data.modules}}
			<div class='inlineBlock'>
				<div class='paddedBorderBlue floatLeft' style='width: 420px'>
					<div class='floatLeft' style='width: 100%'>
						<div class='average floatLeft'>
							{{:helper.capitalizeFirstLetter(value.name)}}
						</div>
					</div>
				</div>
			</div>
		{{/for}}
	</div>
{{/if}}
