<!-- 
Title: Integrated Hardsuit Controller
Used In File(s): /code/modules/clothing/spacesuits/rig/rig.dm
 -->

<style type="text/css">
	.floatLeft {
		float: left;
		margin-left: 5px;
	}
	.redText {
		color: red;
	}
	.boldText {
		font-weight: bold;
	}
	.textSpanCenter {
		width: 100%;
		text-align: center;
	}
	<!-- display bar override -->
	.selectedLeft {
		background-color:#a1a1b6;
	}
</style>
<div style="width: 100%;">
	<div style="float:left; width:50%">

<div>
	<div class='inlineBlock extraTopPadding'>
		<div class='fixedLeft boldText'>
			Power supply
		</div>
		<div>
			{{:helper.displayBar(data.chargestatus, 0, 50, (data.chargestatus >= 35) ? 'good' : (data.chargestatus >= 15) ? 'average' : 'bad', '<center>' + data.charge + '/' + data.maxcharge + '</center>')}}
		</div>
	</div>
	<div class="line"></div>
</div>
<div class="line"></div>
<div style="width:70%;" class='statusDisplay'>
	<center>Suit pieces</center><hr />

	<div class='floatLeft'>
		Helmet: {{:helper.link(data.helmet, 'circle-arrow-s', {'toggle_piece' : 'helmet'}, null)}}
	</div>

	<div class='floatLeft'>
	Gauntlets: {{:helper.link(data.gauntlets, 'circle-arrow-s', {'toggle_piece' : 'gauntlets'}, null)}}
	</div>
	
	<div class="floatLeft">
		Boots: {{:helper.link(data.boots, 'circle-arrow-s', {'toggle_piece' : 'boots'}, null)}}
	</div>

</div>
</div>
<div style="float:left;">
	<div class="floatLeft">
		{{for data.modules}}
			{{"<div style='width:300px; background-color:#303030;' class='statusDisplay'>"}}
				<div class="line">
					<center>{{:value.name}}</center><hr />
					{{:helper.link('Select', 'circle-arrow-s', {'interact_module' : value.index, 'module_mode' : 'select'}, null, 'fixedLeft')}}
				<div class="line">{{:helper.link("Engage", null, null, null, 'fixedLeft')}}{{:helper.link(value.engagecost, null, null, null, 'fixedLeft')}}</div>
				<div class="line">{{:helper.link("Activate", null, null, null,'fixedLeft')}}{{:helper.link(value.activecost, null, null, null, 'fixedLeft')}}</div>
			</div>
		{{/for}}
	</div>
</div>