<!-- 
Title: Integrated Hardsuit Controller
Used In File(s): /code/modules/clothing/spacesuits/rig/rig.dm
 -->

<style type="text/css">
	.floatLeft {
		float: left;
		margin-left: 5px;
	}
	.redText {
		color: red;
	}
	.boldText {
		font-weight: bold;
	}
	.textSpanCenter {
		width: 100%;
		text-align: center;
	}
	<!-- display bar override -->
	.selectedLeft {
		background-color:#a1a1b6;
	}
</style>
<div style="width: 100%;">
	<div style="float:left; width:50%">
		<div>
			<div class='inlineBlock extraTopPadding'>
				<div class='fixedLeft boldText'>
				Power supply
			</div>
			<div>
				{{:helper.displayBar(data.chargestatus, 0, 50, (data.chargestatus >= 35) ? 'good' : (data.chargestatus >= 15) ? 'average' : 'bad', '<center>' + data.charge + '/' + data.maxcharge + '</center>')}}
			</div>
		</div>
	</div>
</div>

<div class="line"></div>
<div style="width:70%;" class='statusDisplay'>
	<center>Suit pieces</center><hr />
	<div class='floatLeft'>
		Helmet: {{:helper.link(data.helmet, 'circle-arrow-s', {'toggle_piece' : 'helmet'}, null)}}
	</div>
	<div class='floatLeft'>
	Gauntlets: {{:helper.link(data.gauntlets, 'circle-arrow-s', {'toggle_piece' : 'gauntlets'}, null)}}
	</div>
	<div class="floatLeft">
		Boots: {{:helper.link(data.boots, 'circle-arrow-s', {'toggle_piece' : 'boots'}, null)}}
	</div>
</div>

{{if !data.tank}}
	<h3><div class = 'bad'>INTERNAL TANK NOT FOUND</div></h3>
{{else}}
	<div class='inlineBlock extraTopPadding'>
		<div class='fixedLeft boldText'>
				Tank Pressure:
		</div>
		<div>
			{{:helper.displayBar(data.tankPressure, 0, 1013, (data.tankPressure > 200) ? 'good' : ((data.tankPressure > 100) ? 'average' : 'bad'))}}
			<div class="statusValue">
				{{:data.tankPressure}} kPa
			</div>
		</div>
		<div class='fixedLeft boldText'>
			Release Pressure:
		</div>
		<div class="itemContent">
			{{:helper.displayBar(data.releasePressure, 0, data.maxReleasePressure, (data.releasePressure >= 21) ? null : ((data.releasePressure >= 17) ? 'average' : 'bad'))}}
			<div style="clear: both; padding-top: 4px;">
				{{:helper.link('-', null, {'air_supply' : 1, 'dist_p' : -10}, (data.releasePressure > 0) ? null : 'disabled')}}
				{{:helper.link('-', null, {'air_supply' : 1, 'dist_p' : -1}, (data.releasePressure > 0) ? null : 'disabled')}}
				<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:data.releasePressure}} kPa&nbsp;</div>
				{{:helper.link('+', null, {'air_supply' : 1, 'dist_p' : 1}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
				{{:helper.link('+', null, {'air_supply' : 1, 'dist_p' : 10}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
				{{:helper.link('Max', null, {'air_supply' : 1, 'dist_p' : 'max'}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
				{{:helper.link('Reset', null, {'air_supply' : 1, 'dist_p' : 'reset'}, (data.releasePressure != data.defaultReleasePressure) ? null : 'disabled')}}
			</div>
		</div>
		<div class='fixedLeft boldText'>
			Release Valve:
		</div>
		<div class="itemContent">
			{{:helper.link('Open', 'unlocked', {'air_supply' : 1, 'stat' : 1}, (!data.maskConnected) ? 'disabled' : (data.valveOpen ? 'selected' : null))}}
			{{:helper.link('Close', 'locked', {'air_supply' : 1, 'stat' : 1}, data.valveOpen ? null : 'selected')}}
		</div>
	</div>
{{/if}}