<!--
Title: Mech Fabricator UI
Used In File(s): \code\game\mecha\mech_fabricator.dm
-->

<!--
#define POD_SCREEN_MAIN			1

#define	POD_SCREEN_FRAME		3
#define	POD_SCREEN_ARMOR		4
#define	POD_SCREEN_PARTS		5
#define POD_SCREEN_GUNS			6
#define POD_SCREEN_GEAR			7

#define	MECH_SCREEN_MISC		10
-->
<div style="float: right; width: 63%;">
	<div class="itemLabel">
		Queue
	</div>
	<div class="itemContentWide" style="width: 90%;">
		<div class="statusDisplay">
			<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff; height: 184px">
				{{for data.queue}}
				<div class="statusValue">
					{{:helper.link(value.name, 'gear', null, null, null, 'misc')}}
					{{:helper.link("Remove", 'circle-arrow-s', value.commands, null, 'fixedLeftWide')}}
				</div>
				{{empty}}
					<i>No parts in memory</i>
				{{/for}}
			</div>
			<br>
			<div class="line">
				{{:helper.link('Process Queue', 'circle-arrow-s', {'process_queue':null}, null, null, 'misc')}}
				{{:helper.link('Clear Queue', 'circle-arrow-s', {'clear_queue':null}, null, 'fixedLeftWide')}}
			</div>
		</div>
	</div>
</div>
<div style="float: left; width: 37%;">
	<div class="itemLabel" style="float: left; width: 117px;">
		Commands
	</div>
	<div class="itemLabel" style="float: left; width: 17px;">
		{{:helper.link('Sync', 'transferthick-e-w', {'sync':1}, null, 'fixedLeft')}}
	</div>
	<br>
</div>
<div style="float: left; width: 37%;">
	<div class="itemLabel">
		Type
	</div>
	<div class="line">
			{{:helper.link('Pod Frame',		'gear',{'screen':3},(data.screen==3)?'linkOn':'', 'fixedLeft')}}
			{{:helper.link('Pod Armor',	'gear',{'screen':4},(data.screen==4)?'linkOn':'', 'fixedLeft')}}
	</div>
	<div class="line">
			{{:helper.link('Pod Parts',	'gear',{'screen':5},(data.screen==5)?'linkOn':'', 'fixedLeft')}}
			{{:helper.link('Pod Weapons',		'gear',{'screen':6},(data.screen==6)?'linkOn':'', 'fixedLeft')}}
	</div>
	<div class="line">
			{{:helper.link('Misc',	'gear',{'screen':10},(data.screen==10)?'linkOn':'', 'fixedLeft')}}
	</div>
	<div class="item">
		<div class="itemLabel">
			Information
		</div>
		<div class="line">
			{{:helper.link('Materials', 'gear',{'screen':14},(data.screen==14)?'linkOn':'', 'fixedLeft')}}
		</div>
	</div>
</div>

{{if data.screen == 14}}
	<div class="item">
		<div class="itemLabel">
			<h3>Material Storage</h3>
		</div>
		<div class="itemContentWide">
			<div class="statusDisplay">
				<div class="line">
					{{for data.materials}}
						<div class="line">
							<div class="statusValue">
								{{:helper.link(value.name, null, null, null, 'fixedLeft')}}
								{{:helper.link(value.storage, null, null, null, 'fixedLeft')}}
								{{:helper.link('Eject', 'circle-arrow-s', value.commands, null, 'fixedLeft')}}
							</div>
						</div>
					{{empty}}
						<i>No information is available</i>
					{{/for}}
				</div>
			</div>
		</div>
	</div>
{{/if}}

{{if data.screen == 3}}
	<div class="item">
		<div class="itemLabel">
			<h3>Pod Frame Parts</h3>
		</div>
		<div class="line">
		{{:helper.link('Quick Pod', 'gear', {'queue_part_set':'Pod_Frame'}, null, 'fixedLeftWidest')}}
		</div>
		<div class="itemContentWide" style="width:100%;">
			<div class="statusDisplay">
				<div class="line">
							{{for data.parts.Pod_Frame}}
								<div class="line">
									<div class="statusValue">
										{{:helper.link(value.name, 'gear', value.command2, null, null, 'misc')}}
										{{:helper.link(value.cost, null, null, null, null, 'cost')}}
										{{:helper.link('Queue', 'gear', value.command1, null, 'fixedLeft')}}
									</div>
								</div>
							{{empty}}
								<i>No parts in memory</i>
							{{/for}}
				</div>
			</div>
		</div>
	</div>
{{/if}}

{{if data.screen == 4}}
	<div class="item">
		<div class="itemLabel">
			<h3>Pod Armor</h3>
		</div>
		<div class="itemContentWide" style="width:100%;">
		<div class="statusDisplay">
		<div class="line">
					{{for data.parts.Pod_Armor}}
						<div class="line">
							<div class="statusValue">
								{{:helper.link(value.name, 'gear', value.command2, null, null, 'misc')}}
								{{:helper.link(value.cost, null, null, null, null, 'cost')}}
								{{:helper.link('Queue', 'gear', value.command1, null, 'fixedLeft')}}
							</div>
						</div>
					{{empty}}
						<i>No parts in memory</i>
					{{/for}}
			</div>
		</div>
		</div>
	</div>
{{/if}}

{{if data.screen == 5}}
	<div class="item">
		<div class="itemLabel">
			<h3>Pod Components</h3>
		</div>
		<div class="itemContentWide" style="width:100%;">
		<div class="statusDisplay">
		<div class="line">
					{{for data.parts.Pod_Parts}}
						<div class="line">
							<div class="statusValue">
								{{:helper.link(value.name, 'gear', value.command2, null, null, 'misc')}}
								{{:helper.link(value.cost, null, null, null, null, 'cost')}}
								{{:helper.link('Queue', 'gear', value.command1, null, 'fixedLeft')}}
							</div>
						</div>
					{{empty}}
						<i>No parts in memory</i>
					{{/for}}
			</div>
		</div>
		</div>
	</div>
{{/if}}

{{if data.screen == 6}}
	<div class="item">
		<div class="itemLabel">
			<h3>Pod Weaponry</h3>
		</div>
		<div class="itemContentWide" style="width:100%;">
		<div class="statusDisplay">
		<div class="line">
					{{for data.parts.Pod_Weaponry}}
						<div class="line">
							<div class="statusValue">
								{{:helper.link(value.name, 'gear', value.command2, null, null, 'misc')}}
								{{:helper.link(value.cost, null, null, null, null, 'cost')}}
								{{:helper.link('Queue', 'gear', value.command1, null, 'fixedLeft')}}
							</div>
						</div>
					{{empty}}
						<i>No parts in memory</i>
					{{/for}}
			</div>
		</div>
		</div>
	</div>
{{/if}}


{{if data.screen == 10}}
	<div class="item">
		<div class="itemLabel">
			<h3>Misc</h3>
		</div>
		<div class="itemContentWide" style="width:100%;">
		<div class="statusDisplay">
		<div class="line">
					{{for data.parts.Misc}}
						<div class="line">
							<div class="statusValue">
								{{:helper.link(value.name, 'gear', value.command2, null, null, 'misc')}}
								{{:helper.link(value.cost, null, null, null, null, 'cost')}}
								{{:helper.link('Queue', 'gear', value.command1, null, 'fixedLeft')}}
							</div>
						</div>
					{{empty}}
						<i>No parts in memory</i>
					{{/for}}
			</div>
		</div>
		</div>
	</div>
{{/if}}


