<!--
Title: R&D Console UI
Used In File(s): \code\modules\research\rdconsole.dm
-->

<style type='text/css'>
	#cost
	{
		width:450px;
		float:left;
	}
	#misc
	{
		width:350px;
		float:left;
	}
	#materials
	{
		width:30%;
		float:left;
	}
	#matlarge
	{
		width:40%;
		float:left;
	}
	#matsmall
	{
		width:25%;
		float:left;
	}
	#matvsmall
	{
		width:20%;
		float:left;
	}
</style>

{{if data.updating || data.locked}}
	<div style="float: left; margin-top: 3px;">
		<div class="itemLabelWide">
			{{if data.locked}}
				SYSTEM LOCKED
			{{else data.updating}}
				Updating Database...
			{{/if}}
		</div>
		{{if data.locked}}
			<div class="line">
			{{:helper.link('Unlock', 'key', {'lock':1}, null)}}
		{{/if}}
	</div>
{{else}}
	<div style="float: left; margin-top: 3px;">
		<div class="line">
			{{:helper.link('Current Research Levels', 'key', {'menu':1}, (data.screen==1)?'linkOn':'')}}
			{{if data.tdisk}}
				{{:helper.link('Disk Operations', 'circle-triangle-e', {'menu':2}, (data.screen==2)?'linkOn':'')}}
			{{else data.ddisk}}
				{{:helper.link('Disk Operations', 'circle-triangle-e', {'menu':3}, (data.screen==3)?'linkOn':'')}}
			{{/if}}
			{{if data.destroy}}
				{{:helper.link('Destructive Analyzer Menu', 'key', {'menu':5}, (data.screen==5)?'linkOn':'')}}
			{{/if}}
			{{if data.lathe}}
				{{:helper.link('Protolathe Construction Menu', 'key', {'menu':6}, (data.screen==6)?'linkOn':'')}}
			{{/if}}
			{{if data.imprinter}}
				{{:helper.link('Circuit Construction Menu', 'key', {'menu':7}, (data.screen==7)?'linkOn':'')}}
			{{/if}}
			{{if data.isadmin}}
				{{:helper.link('MAXIMUM SCIENCE', 'key', {'hax':null}, null)}}
			{{/if}}
			{{:helper.link('Settings', 'key', {'menu':4}, (data.screen==4)?'linkOn':'')}}
		</div>
	</div>

	{{if data.screen == 1}}
		<div class="itemContentWide" style="width: 95%;">
			<div class="statusDisplay">
				<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff; height: 660px">
					{{for data.techinfo}}
						<b>{{:value.name}}</b><br>Level: {{:value.level}}<br><i>{{:value.summary}}</i><br><br>
					{{empty}}
						No tech levels found.
					{{/for}}
				</div>
			</div>
		</div>
	{{else data.screen == 2 || data.screen == 3}}
		<div class="itemLabel">
			{{if data.screen == 2}}
				Disk Contents: (Technology Data Disk)
			{{else data.screen == 3}}
				Disk Contents: (Design Data Disk)
			{{/if}}
		</div>
		<div class="itemContentWide" style="width: 95%;">
			<div class="statusDisplay">
				<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff">
					{{if data.screen == 2}}
						{{if !data.tdisk}}
							No disk inserted.
						{{else !data.tstored}}
							This disk has no data stored on it.
						{{else}}
							<b>{{:data.tstoredname}}</b><br><b>Level:</b> {{:data.tstoredlevel}}<br><i>{{:data.tstoreddesc}}</i>
						{{/if}}
					{{else data.screen == 3}}
						{{if !data.ddisk}}
							No disk inserted.
						{{else !data.dstored}}
							This disk has no data stored on it.
						{{else}}
							<b>{{:data.dstoredname}}</b><br><b>Level:</b> {{:data.dstoredlevel}}<br><b>Lathe Type:</b> {{:data.dstoredtype}}<br><b>Required materials:</b><br>
							{{for data.dstoredmats}}
								{{:value.amount}}<br>
							{{empty}}
								No materials required.<br>
							{{/for}}
						{{/if}}
					{{/if}}
				</div>
			</div>
		</div>
		{{if data.screen == 2}}
			{{if data.tdisk}}
				<div class="line">
					{{if data.tstored}}
						{{:helper.link('Upload to Database', 'circle-arrow-s', {'updt_tech':null}, null)}}
						{{:helper.link('Clear Disk', 'circle-arrow-s', {'clear_tech':null}, null)}}
					{{/if}}
					{{:helper.link('Eject Disk', 'circle-arrow-s', {'eject_tech':null}, null)}}
				</div>
			{{/if}}
		{{else data.screen == 3}}
			{{if data.ddisk}}
				<div class="line">
					{{if data.dstored}}
						{{:helper.link('Upload to Database', 'circle-arrow-s', {'updt_design':null}, null)}}
						{{:helper.link('Clear Disk', 'circle-arrow-s', {'clear_design':null}, null)}}
					{{/if}}
					{{:helper.link('Eject Disk', 'circle-arrow-s', {'eject_design':null}, null)}}
				</div>
			{{/if}}
		{{/if}}
		<div class="line">
			<div class="itemLabelWide">
				{{if data.screen == 2}}
					Load Technology to Disk:
				{{else data.screen == 3}}
					Load Design to Disk:
				{{/if}}
			</div>
		</div>
		<div class="itemContentWide" style="width: 95%;">
			<div class="statusDisplay">
				<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff; height: 330px">
					{{if data.screen == 2}}
						{{for data.techinfo}}
							<div class="line">
								<b>{{:value.name}}</b> {{:helper.link('(Copy to Disk)', 'circle-arrow-s', value.commands, null)}}
							</div>
						{{empty}}
							No tech levels found.
						{{/for}}
					{{else data.screen == 3}}
						{{for data.alldesigns}}
							<div class="line">
								<b>{{:value.name}}</b> {{:helper.link('(Copy to Disk)', 'circle-arrow-s', value.commands, null)}}
							</div>
						{{empty}}
							No designs found.
						{{/for}}
					{{/if}}
				</div>
			</div>
		</div>
	{{else data.screen == 4}}
		<div class="itemLabel">
			R&D Console Settings
		</div>
		{{if data.synced}}
			<div class="line">
				{{:helper.link('Sync Database with Network', 'circle-arrow-s', {'sync':null}, null)}}
			</div>
			<div class="line">
				{{:helper.link('Disconnect from Research Network', 'circle-arrow-s', {'togglesync':null}, null)}}
			</div>
		{{else}}
			<div class="line">
				{{:helper.link('Connect to Research Network', 'circle-arrow-s', {'togglesync':null}, null)}}
			</div>
		{{/if}}
		<div class="line">
			{{:helper.link('Lock Console', 'circle-arrow-s', {'lock':1}, null)}}
		</div>
		<div class="line">
			{{:helper.link('Reset R&D Database', 'circle-arrow-s', {'reset':null}, null)}}
		</div>
		<div class="line">
			{{:helper.link('Re-sync with Nearby Devices', 'circle-arrow-s', {'find_device':1}, null)}}
		</div>
		<br>
		<div class="line">
			<div class="itemLabel">
				Linked Devices:
			</div>
		</div>
		<div class="itemContentWide" style="width: 95%;">
			<div class="statusDisplay">
				<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff">
					<div class="line">
						{{if data.destroy}}
							* Destructive Analyzer {{:helper.link('(Disconnect)', 'circle-arrow-s', {'disconnect':'destroy'}, null)}}
						{{else}}
							* (No Destructive Analyzer Linked)
						{{/if}}
					</div>
					<div class="line">
						{{if data.lathe}}
							* Protolathe {{:helper.link('(Disconnect)', 'circle-arrow-s', {'disconnect':'lathe'}, null)}}
						{{else}}
							* (No Protolathe Linked)
						{{/if}}
					</div>
					<div class="line">
						{{if data.imprinter}}
							* Circuit Imprinter {{:helper.link('(Disconnect)', 'circle-arrow-s', {'disconnect':'imprinter'}, null)}}
						{{else}}
							* (No Circuit Imprinter Linked)
						{{/if}}
					</div>
					<div class="line">
						{{for data.othermachines}}
							<div class="line">
								* {{:value.name}}
							</div>
						{{/for}}
					</div>
				</div>
			</div>
		</div>
	{{else data.screen == 5}}
		{{if !data.destroy || !data.destroyitem || data.destroybusy}}
			<div class="itemLabel">
				{{if !data.destroy}}
					NO DESTRUCTIVE ANALYZER LINKED TO CONSOLE
				{{else !data.destroyitem}}
					No item loaded. Standing by...
				{{else data.destroybusy}}
					Processing and Updating Database...
				{{/if}}
			</div>
		{{else}}
			<div class="itemLabel">
				Name: {{:data.destroyname}}
			</div>
			<div class="itemContentWide" style="width: 95%;">
				<div class="statusDisplay">
					<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff">
						<div class="line">
							<b>Origin Tech:</b>
						</div>
						{{for data.destroytech}}
							<div class="line">
								{{:value.name}} {{:value.tech}} [Current research level: {{:value.level}}]
							</div>
						{{empty}}
							<div class="line">
								This item does not have a tech origin.
							</div>
						{{/for}}
						<div class="line">
							<b>Material Composition:</b>
						</div>
						{{for data.destroymats}}
							<div class="line">
								{{:value.name}}: {{:value.amount}}
							</div>
						{{empty}}
							<div class="line">
								No materials found.
							</div>
						{{/for}}
						<div class="line">
							{{:helper.link('Deconstruct Item', 'circle-arrow-s', {'deconstruct':1}, null)}}
							{{:helper.link('Eject Item', 'circle-arrow-s', {'eject_item':1}, null)}}
						</div>
					</div>
				</div>
			</div>
		{{/if}}
	{{else data.screen == 6 || data.screen == 7}}
		{{if data.screen == 6 && !data.lathe}}
			<div class="itemLabel">
				NO PROTOLATHE LINKED TO CONSOLE
			</div>
		{{else data.screen == 7 && !data.imprinter}}
			<div class="itemLabel">
				NO CIRCUIT IMPRINTER LINKED TO CONSOLE
			</div>
		{{else}}
			<div style="float: right; width: 30%;">
				<div class="itemLabelWide">
					Material Storage
				</div>
				<div class="itemContentWide" style="width: 95%;">
					<div class="statusDisplay">
						<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff; height: 165px">
							{{if data.lathe && data.screen == 6}}
								{{for data.lathemats}}
									{{if value.amount > 0}}
										<div class="line">
											{{:helper.link(value.name, 'gear', null, null, null, 'materials')}}
											{{:helper.link(value.amount, null, null, null, null, 'materials')}}
											{{:helper.link("Remove", 'circle-arrow-s', value.commands, null, null, 'matsmall')}}
										</div>
									{{/if}}
								{{empty}}
									<i>Material storage is empty</i>
								{{/for}}
							{{else data.imprinter && data.screen == 7}}
								{{for data.imprinterchems}}
									<div class="statusValue">
										<b>Reservoir {{:value.index}} &mdash; {{:value.name}}:</b>
									</div>
									{{for value.reagents}}
										<div class="line">
											{{:helper.link(value.name, 'gear', null, null, null, 'matlarge')}}
											{{:helper.link(value.volume, null, null, null, null, 'matvsmall')}}
											{{:helper.link("Purge", 'circle-arrow-s', value.commands, null, null, 'matsmall')}}
										</div>
									{{empty}}
										<div class="line">
											(Empty)
										</div>
									{{/for}}
								{{/for}}
								<div class="statusValue">
									{{:helper.link('Disposal All Chemicals in Storage', 'circle-arrow-s', {'disposeallI':1}, null)}}
								</div>
								<div class="line">
									<b>Other materials:</b>
								</div>
								{{for data.imprintermats}}
									{{if value.amount > 0}}
										<div class="line">
											{{:helper.link(value.name, 'gear', null, null, null, 'materials')}}
											{{:helper.link(value.amount, null, null, null, null, 'materials')}}
											{{:helper.link("Remove", 'circle-arrow-s', value.commands, null, null, 'matsmall')}}
										</div>
									{{/if}}
								{{empty}}
									<i>Material storage is empty</i>
								{{/for}}
							{{else}}
								<i>Material storage not found</i>
							{{/if}}
						</div>
					</div>
				</div>
			</div>

			<div style="float: right; width: 50%;">
				<div class="itemLabel">
					Queue
				</div>
				<div class="itemContentWide" style="width: 95%;">
					<div class="statusDisplay">
						<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff; height: 165px">
							{{if data.lathe && data.screen == 6}}
								{{for data.lathequeue}}
									<div class="statusValue">
										{{:helper.link(value.name, 'gear', null, null, null, 'misc')}}
										{{:helper.link("Remove", 'circle-arrow-s', value.commands, null, 'fixedLeftNarrow')}}
									</div>
								{{empty}}
									<i>No parts in memory</i>
								{{/for}}
							{{else data.imprinter && data.screen == 7}}
								{{for data.imprinterqueue}}
									<div class="statusValue">
										{{:helper.link(value.name, 'gear', null, null, null, 'misc')}}
										{{:helper.link("Remove", 'circle-arrow-s', value.commands, null, 'fixedLeftNarrow')}}
									</div>
								{{empty}}
									<i>No parts in memory</i>
								{{/for}}
							{{else}}
								<i>No parts in memory</i>
							{{/if}}
						</div>
						<br>
						<div class="line">
							{{if data.lathe && data.screen == 6}}
								{{:helper.link('Process Queue', 'circle-arrow-s', {'setProtolatheStopped':0,}, null, null, 'misc')}}
								{{:helper.link('Clear Queue', 'circle-arrow-s', {'clearQ':'protolathe'}, null, 'fixedLeft')}}
							{{else data.imprinter && data.screen == 7}}
								{{:helper.link('Process Queue', 'circle-arrow-s', {'setImprinterStopped':0}, null, null, 'misc')}}
								{{:helper.link('Clear Queue', 'circle-arrow-s', {'clearQ':'imprinter'}, null, 'fixedLeft')}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>

			<div style="float: left; width: 20%;">
				<div class="itemLabel">
					Categories
				</div>
				{{if data.lathe && data.screen == 6}}
					{{for data.lathecategories}}
						<div class="line">
							{{:helper.link(value.name, 'gear',{'setLatheCategory':value.name},(data.lathecategory == value.name)?'linkOn':'', 'fixedLeftWide')}}
						</div>
					{{empty}}
						<i>No categories found</i>
					{{/for}}
				{{else data.imprinter && data.screen == 7}}
					{{for data.imprintercategories}}
						<div class="line">
							{{:helper.link(value.name, 'gear',{'setImprinterCategory':value.name},(data.imprintercategory == value.name)?'linkOn':'', 'fixedLeftWide')}}
						</div>
					{{empty}}
						<i>No categories found</i>
					{{/for}}
				{{else}}
					<i>No categories found</i>
				{{/if}}
			</div>

			<script type="text/javascript">
				function updateSearch(){
					var filter_text = document.getElementById('filter');
					var filter = filter_text.value.toLowerCase();

					//This part here resets everything to how it was at the start so the filter is applied to the complete list.
					if(complete_list != null && complete_list != "")
						{
						var vars_ol1 = document.getElementById("items");
						vars_ol1.innerHTML = complete_list
					}

					if(filter.value == "")
						{
						return;
					}else{
						var vars_ol = document.getElementById('items');
						var lis = vars_ol.getElementsById("item");

						for ( var i = 0; i < lis.length; ++i )
						{
							try{
								var li = lis[i];
								if ( li.innerText.toLowerCase().indexOf(filter) == -1 )
								{
									vars_ol.removeChild(li);
									i--;
								}
							}catch(err) {   }
						}
					}
				}
			</script>

			<div class="item" onkeyup='updateSearch()'>
				{{if (data.lathe && data.lathecategory && data.screen == 6) || (data.imprinter && data.imprintercategory && data.screen == 7)}}
					<script type='text/javascript'>
						var vars_ol = document.getElementById("items");
						var complete_list = vars_ol.innerHTML;
					</script>
				{{/if}}
				{{if data.lathe && data.screen == 6}}
					<div class="itemLabel">
						{{:data.lathecategory}}
					</div>
				{{else data.imprinter && data.screen == 7}}
					<div class="itemLabel">
						{{:data.imprintercategory}}
					</div>
				{{/if}}
				<div class="itemLabelWide" style="float: right;">
					Search: <input type='text' id='filter' name='filter_text' value='' style='width:80%;' onchange='updateSearch()'>
				</div>
				<div class="itemContentWide" style="width:100%;">
					<div class="statusDisplay">
						<div class="line" id="items" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff; height: 330px">
							{{if data.lathe && data.screen == 6}}
								{{for data.lathedesigns}}
									<div class="line" id="item">
										<div class="statusValue">
											{{:helper.link(value.name, 'gear', value.command3, null, null, 'misc')}}
											{{:helper.link(value.cost, null, null, null, null, 'cost')}}
											{{:helper.link('Queue', null, value.command1, null, 'fixedLeftNarrow')}}
											{{:helper.link('5', null, value.command5, null, 'fixedLeftNarrow')}}
											{{:helper.link('10', null, value.command10, null, 'fixedLeftNarrow')}}
											{{:helper.link('Custom', null, value.command2, null, 'fixedLeftNarrow')}}
										</div>
									</div>
								{{empty}}
									<i>No parts in memory</i>
								{{/for}}
							{{else data.imprinter && data.screen == 7}}
								{{for data.imprinterdesigns}}
									<div class="line" id="item">
										<div class="statusValue">
											{{:helper.link(value.name, 'gear', value.command3, null, null, 'misc')}}
											{{:helper.link(value.cost, null, null, null, null, 'cost')}}
											{{:helper.link('Queue', null, value.command1, null, 'fixedLeftNarrow')}}
											{{:helper.link('5', null, value.command5, null, 'fixedLeftNarrow')}}
											{{:helper.link('10', null, value.command10, null, 'fixedLeftNarrow')}}
											{{:helper.link('Custom', null, value.command2, null, 'fixedLeftNarrow')}}
										</div>
									</div>
								{{empty}}
									<i>No parts in memory</i>
								{{/for}}
							{{else}}
								<i>No parts in memory</i>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		{{/if}}
	{{/if}}
{{/if}}
