<!--
Title: Security Alert Computer UI (Main content)
Used In File(s): /code/game/machinery/computer/security_alert.dm
 -->
<table width="100%"><tbody>
	{{if data.show_alerts && data.show_alerts.length}}
		{{for data.show_alerts}}
			<tr><td><div class="statusValue">
			{{:value.type}} - {{:value.time}} - {{:value.area}} @ ({{:value.x}},{{:value.y}},{{:value.z}})
			</div>
		{{/for}}
	{{/if}}
</tbody></table>

<!--
{{:helper.link('#', null, null, null)}}
-->