<!--
Title: Security Alert Computer UI (Main content)
Used In File(s): /code/game/machinery/computer/security_alert.dm
 -->
<table width="100%" ><tbody>
	{{if data.show_alerts && data.show_alerts.length}}
		{{for data.show_alerts}}
			<tr><td><div class="statusValue">
				{{:value.entry}} {{:value}} {{:value.data}} {{:value.value}} {{:value.name}} {{:value.NAME}}
				{{:data.NAME}}
				{{:helper.link(value.entry, null, null, null, null, null)}}
			</div>
		{{/for}}
	{{/if}}
</tbody></table>