<!--
Title: Security Alert Computer UI (Main content)
Used In File(s): /code/game/machinery/computer/security_alert.dm
 -->
<table width="100%" ><tbody>
	{{for data}}
	<tr><td><div class="statusValue">
		{{:helper.link(value, null, null, null, null, null)}}
		</div>
	{{/for}}
</tbody></table>