<!--
Used In File(s): \code\game\objects\items\Spess_duel.dm
-->
{{if data.selectedDeck}}
	<div class="statusDisplay">
		<div style="float: left;">
			<div class="line">
				<br>
				{{:helper.displayBar(data.lifepoint,0,20)}}
				<br>
				{{:helper.displayBar(data.lifepoint,0,20)}}
				<br>
			</div>
		</div>
	</div>
	<div style="float: right;">
		<div class="itemContentWide" style="width:100%;">
			<div class="statusDisplay style="height:100%;">
				<div class="statusDisplay style="width:80px; height:100px;">
					<div class="itemLabel">
				{{if data.creatureZones[5]}}
					{{:helper.link([bicon(data.creatureZones[5]].[bicon(src)], 'null', {'select_card' : "data.creatureZones[5]"},null,null)}}
				{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="float: right;">
		<div class="itemContentWide" style="width:100%;">
			<div class="statusDisplay style="height:100%;">
				<div class="statusDisplay style="width:80px; height:100px;">
					<div class="itemLabel">
				{{if data.creatureZones[4]}}
					{{:helper.link(data.creatureZones[4], 'null', {'select_card' : "data.creatureZones[4]"},null,null)}}
				{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="float: right;">
		<div class="itemContentWide" style="width:100%;">
			<div class="statusDisplay style="height:100%;">
				<div class="statusDisplay style="width:80px; height:100px;">
					<div class="itemLabel">
				{{if data.creatureZones[3]}}
					{{:helper.link(data.creatureZones[3], 'null', {'select_card' : "data.creatureZones[3]"},null,null)}}
				{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="float: right;">
		<div class="itemContentWide" style="width:100%;">
			<div class="statusDisplay style="height:100%;">
				<div class="statusDisplay style="width:80px; height:100px;">
					<div class="itemLabel">
				{{if data.creatureZones[2]}}
					{{:helper.link(data.creatureZones[2], 'null', {'select_card' : "data.creatureZones[2]"},null,null)}}
				{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="float: right;">
		<div class="itemContentWide" style="width:100%;">
			<div class="statusDisplay style="height:100%;">
				<div class="statusDisplay style="width:80px; height:100px;">
					<div class="itemLabel">
				{{if data.creatureZones[1]}}
					{{:helper.link(data.creatureZones[1], 'null', {'select_card' : "data.creatureZones[1]"},null,null)}}
				{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
{{else}}
	 <h2 class='average'>Select your deck.</h2>
	<div class="line">
		<div class="statusValue">
			{{if data.loadedDeck}}
				{{:helper.link('Loaded Deck', 'null', {'select_card' : "loadedDeck"})}}
			{{else}}
				<h3 class='average'>No loaded deck.</h3>
			{{/if}}
		</div>
	</div>
	<div style="float: right;">
	{{:helper.link('Choose deck', 'null', {'choose_deck' : "1"})}}
	<div id="container" style="width:80%; height:80%;display:flex;border-bottom:3px solid #fff;">
		<div style="float: left; width: 32%; height:auto;">
			<div class="itemLabel" style="margin-left:15%;">
				Cards in Deck
			</div>
			{{for data.cardsInDeck}}
				<div class="line">
					<div class="itemLabelNarrow">{{>value.name}}</div>
				</div>
			{{/for}}
		</div>
	</div>
{{/if}}
