<div class="item">
    <div class="itemLabel">Mode:</div>
        <div class="itemContent">
            {{:helper.link("Toggle mode", "gear", {"ui_key": "state_laws", "toggle_mode": 1}, null, 'floatRight')}}
            {{if data.freeform}}
                Freeform
            {{else}}
                Standard
            {{/if}}
        </div>
    </div>
</div>
{{if data.freeform}}
<div class="item">
    <div class="statusDisplay">
        <font color="red"><b>LYING ABOUT YOUR LAWSET IS AGAINST YOUR LAWS UNLESS A LAW PERMITS OR OBLIGATES YOU TO LIE</b></font>
        <br><br>
        Examples of this are Syndicate subversion (emag) and lawsets that do not force you to serve carbons,
        such as Corporate (but you'd better have a good reason.)
        <b>Asimov silicons usually can not lie about their laws.</b>
        <br>­<br>
        Breaking this rule will get you bwoinked, jobbanned or worse. If you don't need to lie, use the regular State Laws functionality.
    </div>
</div>

<div class="item">
    <div class="line">
        <h3>Preset lawsets</h3>
    </div>
    <div class="itemContentWide">
        {{for data.preset_laws}}
            LAW{{:helper.link(value.name, null, {"ui_key": "state_laws", "preset_law_select": index})}}
        {{/for}}
    </div>
</div>

<div class="item">
    <form name="lawedit" action="byond://" method="post">
    <input type="hidden" id="src" name="src" value="{{:data.src}}">
    <input type="hidden" id="src" name="ui_key" value="state_laws">
    <div class="line">
        {{if !data.freeform_editing_unlocked}}
        {{:helper.link("Edit", "gear", {"ui_key": "state_laws", "freeform_edit_toggle": 1}, null, 'floatRight')}}
        {{else}}
        <!-- doesn't work thanks to IE
        <button type="submit" style="float: right;text-align: center;color: #ffffff;text-decoration: none;background: #40628a;border: 1px solid #161616;padding: 0px 4px 4px 0px;margin: 0 2px 2px 0;cursor: default;white-space: nowrap;">
            <i class="uiIcon16 icon-disk floatRight" style="display:block"></i> Save
        </button>
        -->
        <input type="submit" value="Save" class="floatRight">
        {{/if}}
        <h3 style="clear:left;display:inline">Currently selected laws</h3>
    </div>
        {{if !data.freeform_editing_unlocked}}
        <div class="statusDisplay">
            {{for data.freeform_laws}}
                <div class="line">
                    <div class="statusValue">
                        {{:value.text}}
                    </div>
                </div>
            {{empty}}
                <div class="line">
                    <div class="statusValue dark">(no laws selected)</div>
                </div>
            {{/for}}
        </div>
        {{else}}
        <textarea name="edited_laws" id="edited_laws" rows="10" cols="50" class="statusDisplay" style="width:100%;padding:0;overflow:hidden">{{for data.freeform_laws}}{{:value.text}}{{:'\n'}}{{/for}}</textarea>
        {{/if}}
    </form>
</div>
{{/if}}