<!-- 
Title: Supply Console UI 
Used In File(s): \code\game\supplyshuttle.dm
-->

<style type='text/css'>
	#category
	{
		width:125px;
		float:left;
	}
</style>
<div class="item" style="float: left; width:66%; margin-bottom: 3px;">
	<div class="itemLabel">
		Account:
	</div>
	<div class="itemContent">
		{{:data.money}}
	</div>
</div>
<div style="float: right; width: 33%; margin-top: 3px;">
	<div class="line">
		{{:helper.link('Permissions', 'key', {'permissions' : 1})}}
	</div>
	{{if !data.moving && !data.at_station}}
		{{:helper.link('Call Shuttle', 'circle-triangle-e', data.send, null)}}
	{{else !data.moving && data.at_station}}
		{{:helper.link('Return Shuttle', 'circle-triangle-w', data.send, null)}}
	{{else data.moving}}
		<div class="line">Shuttle is en route.</div>
	{{/if}}
</div>
{{if data.show_permissions}}
	<div class="item">
		<div class="itemLabel">
			Order Approval:
		</div>
		<div class="itemContent">
			{{:helper.link('Any', '', {'access_restriction' : 0}, data.restriction ? null : 'selected')}}{{:helper.link('Allowed', '', {'access_restriction' : 1}, data.restriction==1 ? 'selected' : null)}}{{:helper.link('ID Only', '', {'access_restriction' : 2}, data.restriction==2 ? 'selected' : null)}}{{:helper.link('Enter PIN', '', {'access_restriction' : 3}, data.restriction==3 ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Requisitions Status:
		</div>
		<div class="itemContent">
			{{:helper.link('Never', '', {'requisition_status' : 0}, data.requisition ? null : 'selected')}}{{:helper.link('Always', '', {'requisition_status' : 1}, data.requisition==1 ? 'selected' : null)}}
		</div>
	</div>
{{else}}
	<div style="float: left; width: 32%;">
		<div class="itemLabel" style="margin-bottom: 3px;margin-top: 12px">
			Categories
		</div>
		{{for data.all_supply_groups}}
		<div class="line">
			{{:helper.link(value.category, null, {'last_viewed_group': value.category}, (data.last_viewed_group==value.category)?'linkOn':'', 'noOverflow', 'category')}}
		</div>
		{{/for}}
	</div>
	<div style="float: right; width: 66%;">
		<div class="itemLabel">
			Supply Crates
		</div>
		<div class="itemContentWide" style="width: 95%;">
			<div class="statusDisplay">
				<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff; height: 184px">
					{{for data.supply_packs}}
						<div class="line">
							<div class="statusValue">
								{{:helper.link(value.name, null, value.command1, null, 'fixedLeftWide noOverflow')}}
								{{:helper.link('#', null, value.command2, null)}}${{:value.cost}}
							</div>
						</div>
					{{/for}}
				</div>
			</div>
		</div>
	</div>
{{/if}}
<div class="item">
	<div class="itemLabel">
		Supply Orders
	</div>
	<div class="itemContentWide">
		<div class="statusDisplay">
			<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff; height: 220px;">
				<u><b>Requests</b></u>
				<br>
				{{for data.requests}}
					<div class="line">
						{{:value.ordernum}} - {{:value.supply_type}} for {{:value.orderedby}}
							<div class="line" style="font-style: italic;">
								{{:value.comment}}
							</div>
						{{:helper.link('APPROVE', null, value.command1, null)}} {{:helper.link('REJECT', null, value.command2, null)}}
					</div>
				{{empty}}
					No active requests.
				{{/for}}
				<br><br>
				<u><b>Orders</b></u>
				<br>
				{{for data.orders}}
					<div class="line">
						#{{:value.ordernum}} - {{:value.supply_type}} for {{:value.orderedby}}
					</div>
				{{empty}}
					No confirmed orders.
				{{/for}}
			</div>
		</div>
	</div>
</div>