<!--
Title: Trade Console UI
Used In File(s): /code/game/modules/trade/console.dm
 -->
 <style type='text/css'>
	.trade {
		border-collapse: collapse;
		margin-bottom: 8px;		
	}

	.trade th {
		height: 2em;
		text-align: left;	
	}

	.trade td, th {
		padding: 4px;		
		color: white;
	}

	.trade th {		
		font-weight: 600;
		text-decoration: underline;
	}

	.header {
		display: block;
		text-align: center;
		border-bottom: 1px gainsboro solid;
	}

</style>
<table class="trade" width="100%"><tbody>
	<tr>
		<th width="65%">Objective</th>
		<th width="15%">Reward</th>
		<th width="20%"></th>
	</tr>
	{{for data.trades}}
		<tr>
			<td>{{:value.display}}</td>
			<td>${{:value.reward}}</td>
			<td>{{:helper.link('Trade', 'refresh', {'trade': value.id})}}</td>
		</tr>
	{{/for}}
</tbody></table>