body {
  background-image: url("cmc_background.png");
  color: white;
  text-align: center;
  font-size: 15px;
}

td, th {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 15px;
}

a {
  background-color: #999999;
  color: black;
  text-decoration: none;
  margin-right: inherit;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0px 0px 5px 1px grey;
}

.toxin {
  color: #00CD00;
}

.oxygen {
  color: #0080ff;
}

.fire {
  color: #ffa500;
}

.brute {
  color: #ff0000;
}

.name {
  font-weight: 1000;
}

.name.cap {
  color: #C06616;
}

.name.sec {
  color: #E74C3C;
}

.name.med {
  color: #3498DB;
}

.name.sci {
  color: #9B59B6;
}

.name.eng {
  color: #F1C40F;
}

.name.car {
  color: #F39C12;
}

.name.cent {
  color: #00C100;
}

.name.unk {
  color: #C38312;
}

.name.silicon {
  color: #85c1e9;
}
